body { margin:0;padding:0;}
a { text-decoration: none; }
ul { list-style-type: none; }

/*-------HEADER--------*/

header {	
	background-color: rgb(21,21,21);
	height: 130px;
}
header > div {
	width: 976px;
	margin: 0 auto;
}
header img {
	margin-top: 32px;
	float:left;
}


header nav {
	font-family: bulletin_light;
	float: right;
	margin: 54px 28px 0 0;
	font-size: 21px;
}

header nav ul ul {
	display: none;
}


header nav ul li:hover > ul {
		display: block;
	}

header nav > ul {
	list-style: none;
	position: relative;
	display: inline-table;
	margin-left: 17px;
	padding-bottom: 11px;
	margin: 0 ;
	//width: 651px;
	//margin-right: -100px !important;
}

header nav ul:after {
		content: ""; clear: both; display: block;
	}


header nav ul li {
	float: left;
	margin-left: 17px;
}

header nav ul {
	margin: 0;
}



header nav > ul a {
	color: #FFF;
	text-align: center;
}
header nav > ul a.active {
	//border-bottom: 1px solid white;
	color: #048deb;
}

header nav > ul a:hover {
	color: #048deb;
}


header nav li:hover .sub_menu, header nav li:hover a span {
	display: block;
}

header nav > ul a span {
	display: none;
	font-size: 13px;
	color: rgb(74, 74, 74);
	font-weight: bold;
	height: 7px;
	overflow: hidden;
	margin-top: -1px;
}

.sub_menu {
	//width: 600px;
	display: none;
	border-top: 1px solid rgb(74, 74, 74);
	position: absolute;
	font-family: roboto_condensedlight;
	margin-top: 0px;
	padding-top: 10px;
	font-size: 14px;
	position: absolute; 
	padding-left: 0;

}
.sub_menu li {
	float: left;
	color: #FFF;
	padding-bottom: 1px;
	margin-left: 12px;
}
.sub_menu li:first-child {
	margin-left: 0;
}

.sub_menu.fourth {
	right: 82px;
}

.sub_menu.fifth {
	right: 0px;
}

.block {
	padding: 46px 0;
}

.header_search {
	float: right;
	display: block;
	margin-top: 23px;
	z-index: 9999;
	position: relative;
	cursor: pointer;
}

.header_search input::-webkit-input-placeholder {color: white;}
.header_search input::-moz-placeholder          {color: white;}/* Firefox 19+ */
.header_search input:-moz-placeholder           {color: white;}/* Firefox 18- */
.header_search input:-ms-input-placeholder      {color: white;}

.header_search input {
	z-index: -1;
	width: 0;
	position: absolute;
	left: 0;
	bottom: -3px;
	height: 18px;
	display: none;
	padding: 5px;
	background-color: black;
	border: 1px solid rgb(95, 93, 93);
	color: white;



	/*padding: 5px 5px 5px 32px;
	background-color: black;
	border: 1px solid rgb(95, 93, 93);
	color: white;
	background: url("/images/search.png") no-repeat scroll 4px 2px black;
	*/
}
.header_search img {
	width: 24px;
	height: 24px;		
	margin-left: -16px;
	z-index: 99;
}
/*-------SLIDEJS--------*/

#slides {
  display: none
}

.slidesjs-pagination {
  margin: 15px auto 0 auto;
	width: 100%;
	text-align: center;
	list-style: none;
	padding: 0;
}

.slidesjs-pagination li {
	float:none;
  display: inline-block;
  margin-left: 4px;
}

.slidesjs-pagination li a {
  display: block;
  width: 17px;
  height: 4px;
  padding-top: 13px;
 	color: rgba(51,51,51,0) !important;
  background-color: rgb(31,31,31);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-color: rgb(79,153,221);
  color: rgba(51,51,51,0) !important;
}

.slidesjs-pagination li a:hover {
  background-position: 0 -26px
}

#slides a:link,
#slides a:visited {
  color: rgba(51,51,51,0);
}

#slides a:hover,
#slides a:active {
  color: #9e2020
}

.navbar {
  overflow: hidden
}

#slides img {
	height: 384px;
	width: 100%;
}

.slides-container {
	clear: both;
  margin: -1px auto;
  width: 100%;
  height: 420px;
}

.slidesjs-container {
	clear: both;
  margin: -1px auto;
  width: 100%;
  height: 384px !important;
 // height: 379px !important;
}

.image-message {
	color: white;
	font-family: beausanspro_regular;
	z-index: 3;
	position: absolute;
	bottom: 1px;
	width: 958px;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	height: 120px;
	background-color: rgba(0, 0, 0, 0.65);
	padding:17px 0 0 18px;
}

.image-message h2 {
	margin: 0;
	font-size: 41px;
	font-weight: 100;
}

.image-message p {
	margin:3px 2px;
	line-height: 1.3;
	font-size: 17px;
	font-weight: 100;
}

/*-------SECTION--------*/
section {
	width:100%;
}
.block {
	clear: both;
	width: 100%;
}
section div.block > div {
	width: 976px;
	margin: 0 auto;
	clear: both;
}

section h1 {
	float: left;
	color: rgb(79,153,221);
	margin: -14px 10px 30px 0;
	//font-family: bulletin_medium;
	font-family: robotoregular;
	font-size: 22px;
	font-weight: 100;

}

section h1 a {
	color: rgb(79,153,221);
}

section hr.block_header {
	margin: 0;
	border: 0;
	height: 3px;
	background-color: rgb(204,204,204);
}

section hr.block_header::after {
    content: '';
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
}






/*-------NEWS--------*/

.news_block {
	padding-top: 24px !important;
}

.clear {
	clear:both;
}
.news {
	width: 313px;
	float:left;
	margin: 0 18px 20px 0;
	font-family: 'bebas_neuebold';
}
.last {
	margin-right: 0 !important;
}
.news img {
	width: 313px;
	height: 177px;
}
.news div.date {
	text-align: center;
	float:left;
	display: block;
	height: 52px;
	width: 45px;
	background-color: rgb(4,141,235);
	color:white;	
	font-size: 15px;	
	margin-bottom: 10px;
	padding-top: 8px;
}
.news div.date span {
	font-size: 34px;
	display: block;
	line-height: 0.9;
}
.news a {
	float: right;
	width: 217px;
	margin: 0;
	font-size: 18px;
	padding-top: 3px;
	color: black;
	//font-family: 'tahoma';
}
.news a:hover {
	color: rgb(4, 141, 201);
}
.news hr {
	clear:both;
	margin-top: 10px;
	width: 100%;
	border: 0;
	height: 2px;
	background-color: rgb(174,174,174);
}
.news > div {
	padding: 14px 20px;
	background-color: rgb(226,232,244);
	margin-top: -4px;
	border-bottom: 9px solid #048deb;
}
.news .anons {
	font-family: 'verdana';
	font-size: 15px;
	height: 100px;
	margin-bottom: 8px;	
	padding-bottom: 10px;
}
.news .anons p {
	margin:5px 0;
}

.more {
	clear: both;
	float: right;
	margin: 0 0 65px 0;
	border-bottom: 2px solid #048deb;
	color: #161616;
	font-size: 15px;
	padding-bottom: 3px;
	font-family: tahoma;
	cursor: pointer;
}

.loading {
	float:right;
	margin-top: -8px;
	display: none;
}

/*-------FOOTER--------*/

footer {	
	clear: both;
	background-color: rgb(21,21,21);
	//height: 327px;
	margin-top: 179px;
}
footer > div {
	width: 976px;
	margin: 0 auto;
	padding-bottom: 48px;
}
.footer_menu h3 {
	font-family: bulletin_regular;
	color: white;
	font-weight: 100;
	font-size: 23px;
	margin-top: 34px;
	margin-bottom: 10px;
}
.footer_menu ul {
	font-family: bulletin_light;
	color:rgb(152,152,152);
	list-style-type: none;
	margin: 0;
	font-size: 18px;
	padding: 0;
}
.footer_menu ul li {
	margin-bottom: 7px;
}
.footer_menu ul li a{
	color: rgb(152,152,152);
}
.footer_menu div{
	width:auto;	
	float:left;	
	margin: 0 37px 138px 14px;
}

.footer_menu div:last-child {
	margin-right: 0px !important;
}

footer > img {
	margin:0 auto 13px auto;
	display: block;
	width: 224px;
}

footer .address {
	font-family: bulletin_light;
	margin: 0 auto;
	width: 100%;
	font-size: 18px;
	text-align: center;
	color:rgb(138,138,138);
	clear: both;
}

.search {
	margin: 0 0 45px 21px;
}

.search input {
	display: inline-block;
	padding: 6px;
	border: none;
}
.search input[type=text] {
	border: 1px solid rgb(204,204,204);
	padding: 5px;
}
.search input[type=submit] {
	background-color: #414141;
	color: white;
	cursor: pointer;
}

.small_contact {
	float: left;
	margin-top: -103px;
}

.small_contact img.social_mini {
	width: 40px;
	height: 40px;
	margin: 0 5px 13px 0;
}
/*-------SYSTEM INFO--------*/

.system_info {
	//background-color: #e2e8f4;
	//padding: 0 !important;
}

.system_info h1 {
	//background-color: white;
	/*margin: -10px 9px 0 -11px;
	padding: 1px 12px;
	line-height: 28px;*/
}
.system_info > div {
	height: 753px;
	position: relative;
}


.oblique_line {
	width: 16px;
	background-color: rgb(255, 255, 255);
	height: 48px;
	float: left;
	margin-top: -24px;
}


.left_side {
 	-webkit-transform: rotate(124deg);
 	-moz-transform: rotate(124deg);
  	-ms-transform: rotate(124deg);
   	-o-transform: rotate(124deg);   	
	margin-left: -33px;
}
.right_side {
 	-webkit-transform: rotate(-124deg);
 	-moz-transform: rotate(-124deg);
  	-ms-transform: rotate(-124deg);
   	-o-transform: rotate(-124deg);
   	margin-left: -2px;
}

.spec img{
	position: absolute;
	left: 164px;
	top: 90px;
}
.spec ul {
	position: absolute;
	left: 473px;
	top: 105px;
	color: white;
	width: 288px;
	font-family: helveticaneuecyr_light;
	font-size: 17px;
	line-height: 20px;
}
.spec ul li {
	background-color: #048deb;
	padding: 11px;
	margin-bottom: 16px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}


/*-------PRICES--------*/

.prices {
	background-color: white;
}
.prices > div {
	padding: 0;
}
.prices .time {
	float: left;
	margin: -3px 0 0 0;
	background-color: white;
	padding-right: 6px;
}

.prices ul {
	width: 523px;
	margin: 0 auto;
	margin-top: 25px;
	padding: 0;
	font-family: Tahoma;
	font-size: 29px;
}
.prices ul li {
	vertical-align: middle;
	clear: both;
	margin-bottom: 44px;
	float: left;
	background: url("/images/dotted.png") repeat-x scroll 0% 24px transparent;
	width: 100%;
	z-index: -1;
}
.prices li hr {
	overflow: hidden;
	border: none;
}
.prices li hr:after {
	content: "_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ ";
	letter-spacing: 1px;
	height: 5px;
	font-weight: bold;
	font-size: 26px;
}
.price {
	background: url('../images/circle.png');
	width: 89px;
	display: inline-block;
	background-repeat: no-repeat;
	height: 78px;
	vertical-align: middle;
	text-align: center;
	line-height: 81px;
	font-size: 23px;
	float: right;
	margin-top: -30px;
	background-color: white;
	background-position: center center;
}

/*-------CALENDAR--------*/

.calendar {
	//margin-top: 30px;
}

.calendar > div {
	clear: both;
	margin-bottom: 26px;
}

.calendar > div::after {
    content: '';
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
}

.calendar img {
	max-width: 313px;
}

.calendar div.image {
	width: 313px;
	height: 176px;
	float:left;
	margin: 0 18px 18px 0;
	overflow: hidden;
	display: inline-block;
	//clear: none !important;
}

.calendar .title {
	clear: both;
	font-family: 'verdana';
	font-size: 21px;
	display: table;
	margin-top: 26px;
	color: black;
}

.calendar .title:hover {
	color: rgb(4, 141, 201);
}

.calendar .anons {
	font-family: 'verdana';
	font-size: 15px;
	margin: 7px 0 30px 0;
}
.calendar .anons p {
	margin: 7px 0;
}
.calendar h1 {
	margin-bottom: 0;
}


section div.first {
	clear:both;
}

section div.more_images {
	float: left !important;
	clear: none;
	width: 313px;
	height: 176px;
	text-align: center;
	font-family: robotoregular;
	text-decoration: underline;
	background: url('../images/more.png');
	color: white;
	line-height: 175px;
	font-size: 19px;
	cursor: pointer;
	//margin-bottom: 41px;
}

.calendar::after {
    content: '';
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
}

.photos {
	clear: both;
	width: 976px;
	padding: 18px 0;
}

.photos::after {
    content: '';
    display: block;
    clear: both;
    height: 0px;
    visibility: hidden;
}


/* ie8 
clearfix::after {
    content: "";
    display: table;
    clear: both;
}*/

/*-------SHOW NEWS--------*/

.show_news {
	font-family: tahoma;
}

.show_news h1 { margin-bottom: 0; }
.show_news h2 { 
	margin: 12px 0;
	font-weight: normal;
	font-size: 29px; 
}
.show_news .date {
	font-size: 14px;
}

/*-------CONTACTS--------*/

.about img {
	display: inline-block;
	margin-bottom: 40px;
	width: 455px;
}

.about .info {
	display: inline-block;
	width: 470px;
	vertical-align: top;
	font-family: verdana;
	margin-left: 29px;
}

.about .info h2 {
	font-size: 23px;
	font-weight: 100;
	margin: 0; 
}

.about .info hr {
	border: 0;
	height: 2px;
	width: 210px;
	background-color: #4f99dd;
	margin: 22px 0 0 0;
}
.social {
	text-align: center;
	font-size: 27px;
	font-family: robotoregular;
	margin: 20px 0 62px 0;

}

.social a {
	display: inline-block;
	width: 254px;
	height: 56px;
	line-height: 56px;	
	color: white;
}

.social a:first-child {
	background-color: #4d9feb;
}

.social a:last-child {
	background-color: #ed4e47;
	margin-left: 81px;
}

#map {
	width:976px; height:400px;
	// margin-top: -46px;
	display: block;
	margin: -46px auto 0 auto;
}

.error {
	font-family: tahoma;
}


/*-------MEDIA--------*/

.media .first {
	width:100% !important;
}

.media .first .url {
	float:left;
}
.media .first .info {
	float:left;
	margin: 0 0 0 37px;
	width: 288px;
	height: 268px;
}

.media .first .url iframe {
	width: 521px;
	height: 293px;
	float:left;
}

.media .video {
	width: 313px;
	float:left;
	margin: 0 18px 20px 0;
	font-family: 'bebas_neuebold';
}


.list_video {
	width: 223px;
	float:left;
	margin: 0 28px 20px 0;
	font-family: 'bebas_neuebold';
}

.list_video .url_video {
	width: 223px;
	height: 125px;
	overflow: hidden;
}
.list_video .url_video iframe, .list_video .url_video object {
	width: 223px;
	height: 125px;
}

.list_video div.date {
	text-align: center;
	float: left;
	display: block;
	height: 52px;
	width: 45px;
	background-color: rgb(4,141,235);
	color:white;	
	font-size: 13px;	
	margin-bottom: 10px;
	padding-top: 8px;
}
.list_video div.date span {
	font-size: 34px;
	display: block;
	line-height: 0.9;
}
.list_video span {
	width: 217px;
	margin: 0;
	font-size: 18px;
	padding-top: 3px;
	color: black;
	//font-family: 'tahoma';
	cursor: pointer;
}
.list_video span:hover {
	color: rgb(4, 141, 201);
}
.list_video hr {
	clear:both;
	margin-top: 10px;
	width: 100%;
	border: 0;
	height: 2px;
	background-color: rgb(174,174,174);
}
.list_video .anons_video {
	padding: 14px 20px;
	background-color: rgb(226,232,244);
	margin-top: -4px;
	border-bottom: 5px solid #048deb;
	height: 107px;
}
.list_video .anons {
	font-family: 'verdana';
	font-size: 15px;
	height: 100px;
	margin-bottom: 8px;
}
.list_video .anons p {
	margin:5px 0;
}

.last {
	margin-right: 0 !important;
}
.video img {
	width:100%;
}

.video .info {
	padding: 10px 20px;
	background-color: rgb(226,232,244);
	margin-top: -4px;
	border-bottom: 5px solid #048deb;
}
.video .anons {
	font-family: 'verdana';
	font-size: 15px;
	height: 100px;
	margin-bottom: 8px;
}
.video .anons p {
	margin:5px 0;
}

.video hr {
	clear:both;
	margin-top: 10px;
	width: 100%;
	border: 0;
	height: 2px;
	background-color: rgb(174,174,174);
}

.video span {
	font-family: 'tahoma';
	margin: 0;
	font-size: 19px;
	color: black;
}


/*-------TEAM--------*/

.persons {
	width: 860px;
	margin: 47px auto;
}

.person {
	width: 390px;
	margin: 48px 0 0 0 ;
}

.person img {
	float: left;
	width: 139px;
	height: 139px
}

.person .info {
	float: left;
	margin: 14px 0 0 27px;
	width: 218px;
}

.person span {
	font-family: 'tahoma';
	font-size: 18px;
	display: block;
	width: 218px;
	padding-bottom: 21px;
	border-bottom: 2px solid #048deb;
}

.team .second {
	clear: both;
}

.team p {
	font-family: 'verdana';
	font-size: 15px;
	margin: 12px 0;
}

.person.left {
	float: left;
}

.person.right {
	float: right;
}

.game {
	width: 470px;
}

.game:first-child {
	float:left;
}

.game:last-child {
	float:right;
}


.game img {	
	width: 100%;
	height: 260px;
	display: block;
	margin-bottom: 25px;
}

.games a.link{
	float: left;
	color: rgb(79,153,221);
	margin: -14px 10px 30px 0;
	font-family: robotoregular;
	font-size: 22px;
	font-weight: 100;
}

.games hr {
	margin: 0;
	border: 0;
	height: 3px;
	background-color: rgb(204,204,204);
}


/*-------ALL_NEWS--------*/

.one_news {
	float: left;
	border-left: 5px solid #048deb;
	margin: 0 0 30px 104px;
	width: 219px;
	padding-left: 8px;
	font-family: tahoma;
}

.all_news ul {
	margin: 0;
	padding: 0;
}

.all_news .first {
	margin-left: 21px;
}

.one_news .date {
	font-size: 13px;
	padding-bottom: 8px;
	border-bottom: 2px solid #aeaeae;
	margin-bottom: 9px;
}

.one_news a {
	color: black;
	font-size: 17px;
}

.one_news a:hover {
	color: rgb(4, 141, 201);
}

.zoom {
	width: 75% !important;
	height: 70% !important;
	position: fixed !important;;
	left: 50% !important;;
	margin: 0px 0px 0px -37.5% !important;;
	top: 10% !important;
	z-index: 99;
	text-align: center;
	overflow: visible !important;
}

.zoom iframe, .zoom object {
	width: 75% !important;
	height: 70% !important;
	position: fixed !important;;
	left: 50% !important;;
	margin: 0px 0px 0px -37.5% !important;;
	top: 10% !important;
	z-index: 99;
	padding: 5px;
	background-color: rgb(110, 110, 110);
}

#dark {
  background: #000;
  height: 100%;
  opacity: 0.7;
  position: fixed;
  width: 100%;
  z-index: 60;
  top: 0;
  left: 0;
  display: none;
}

.zoom_out {
	z-index: 99;
	margin: -33px -11px 0 0 !important;
	width: 28px !important;
	padding: 5px 0;
	font-size: 27px !important;
	display: block;
	background: url('/images/close.png') no-repeat;
	height: 27px;
	float: right;
}


/*-------CALENDAR_V2--------*/

.calendar_v2 h1 {
	clear: both;
}

.calendar_v2 .elements_row.next {
	margin-bottom: 55px;
}

.calendar_v2 .next_element_image {
	//display: table-cell;
}

.calendar_v2 .elements_row.next .element {
	position: relative;
}
.calendar_v2 .element .more2 {
	font-family: 'verdana';
	position: absolute;
	right: 17px;
	bottom: 13px;
	border-bottom: 2px solid #048deb;
	padding-bottom: 3px;
	font-size: 12px;
}

.calendar_v2 .elements_row.next .header {
	font-size: 32px;
	font-family: 'bebas_neuebold';
}

.calendar_v2 .next_element_image a {
	height: 204px;
	display: block;
}

.calendar_v2 .elements_row.next .body {
	font-size: 17px;
	font-family: 'verdana';
}

.calendar_v2 .next_element_image img {
	height: 100%;	
	width: 630px;
}

.calendar_v2 .elements {
	margin-bottom: 59px;
}

.calendar_v2 .elements_row {

	margin: 0 0 27px 0;
	padding: 0;
	display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.calendar_v2 .elements_row::after {
    content: "";
    display: table;
    clear: both;
}


.calendar_v2 .element {
	//display: table-cell;
	display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;	
	width: 281px;	
	//height: 0px;
	margin-right: 66px;
	vertical-align: top;
	background-color: #e2e8f4;
	float: left;
}

.calendar_v2 .element:last-child {
	margin-right: 0;
}

.calendar_v2 .element a {
	width: 100%;
}

.calendar_v2 .element a:hover .body, .calendar_v2 .element a:hover .more2 {
	color: rgb(4, 141, 201);
}

.calendar_v2 .next .element a:hover .body {
	color: black;
}


.calendar_v2 .element .header, .calendar_v2 .element .body {
	
}

.calendar_v2 .element .header {
	padding: 6px 17px;
	color: white;
	font-family: 'tahoma';
	font-size: 14px;
	background-color: #048deb;
}

.calendar_v2 .element .body {
	padding: 14px 17px 16px 17px;
	font-family: 'tahoma';
	font-size: 15px;
	
	color: black;
}


.calendar_v2 .element.top .header {
	font-family: 'bebas_neuebold';
	font-size: 32px;
}



.row {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
 
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.row_element {
	 width: 281px; /* 4 items per row */
 	 //float: left;
 	 background-color: lightgrey;
 	  display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-right: 18px;
}