@font-face {
    font-family: beausanspro_regular;
    src: url('beausanspro/PFBeauSansPro-Reg.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: helveticaneuecyr_light;
    src: url('HelveticaNeueCyr-Light.otf');
    font-weight: normal;
    font-style: normal;
}