
@font-face {
    font-family: bulletin_light;
    src: url('bulletin_v2/PFBulletinSansPro_Light_webfont.ttf');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: bulletin_regular;
    src: url('bulletin/PFBulletinSansPro-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}